{% set langalt = '/' ~ (language == 'en' ? 'fr' : 'en') ~ '/information-requests--demandes-information/' %}
{% extends "base.twig" %}
{% block content %}

<h1 class="leading-none font-thin text-4xl">
{{ title }}
</h1>


<ul class="flex flex-col gap-4 lg:gap-1">
{% for ir in informationRequests %}

<li class="odd:bg-white even:bg-slate-100 text-sm flex flex-col lg:grid lg:grid-cols-12 gap-1 py-1">

    <div class="font-semibold">{{ ir.internal_id }}</div>
    <div class="col-span-4">{{ ir.summary }}</div>
    <div class="col-span-2">{{ ir.department }}</div>
    <div>{{ ir.request_date | format_date(locale=language) }}</div>
    <div class="col-span-3">{{ ir.request_status }} {{ ir.disposition_status }}</div>
    
    <div>
        <ul>
        {% for file in ir.files %}
            <li>
                <a href="{{ file.url }}" class="underline text-blue-800" target="_blank">{{ file.extension ? file.extension : 'pdf' }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    

</li>

{% endfor %}
</ul>

{% endblock %}